<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Collections 1.6.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>437636E9298032EA00899214</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4384E4C4298A8795007FE31A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4387E3A7298AE19A00CD1A30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
